* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* here is the background color for the whole page */
body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

/* The header element here allowed for a readable and easily accesable nav bar.  */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* The below picture was the main background element for the first part of the page.  */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}
/* The above and below classes allowed for the content to be staggered and made for a clean and easy to read web page */
.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Below I combined multiple classes into one, as they all had the same values. */
.benefit-one {
    margin-bottom: 32px;
    color: #ffffff;
}

/* This kept all the h3 elements at the same size and allowed us to have an easy to read and clean looking web page. */
.h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* This class was used to affect multiple images in the page, condensing the code and allowing for cleaner code. */
.benefit-one img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* This is a combined class as well, it allows for cleaner code and avoids redundancy */
.search {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* This image section affects multiple images on the page, it makes the code cleaner to use one class for all three pictures. */
.search img {
    max-height: 200px;
}

.h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
